// [1]- in Layout Folder there is a file called _layout.scss which contain All layout files 

// [2]- in homepage.scss = dashboard.sass or other pages like about.scss will be Special Case >> 
//I mean here you are Not Forced to use @use
//to import _layout.scss file which contain All layout files 

// [3]- here you can choose some special layout files like _header.scss & _footer.scss 
//in this case you will use @use to import files that you want, not all files 

@use "../helpers/helpers" as *;

@use "../layout/layout" as *;

@use "../pages/dashboard" as *;


.Table {

    @extend .dashboad;

    .overveiwTable {
        position: relative;
        margin-top: 30px;

        .authors {
            @extend %cards;
            padding: 10px !important;
            text-transform: capitalize;

            h4 {
                font-size: 12px;
                background-image: linear-gradient(92deg, #49a3f1, #49a3f19c) !important;
                color: white;
                @extend %cards;
                position: relative;
                top: -30px;
                padding: 1rem 0.5rem;
            }

            .Datatable {
                // display: block;
                font-size: 11px !important;
                border-spacing: 0;

                td {
                    padding: 10px 0px;
                    width: 500px;
                    color: #344767;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid;
                        border-color: rgb(126 121 121 / 10%);
                    }
                }

                tbody {

                    span {
                        font-size: 9px;
                        color: #7e7979;
                    }

                    .materials {
                        display: flex;
                        align-items: center;
                        font-size: 14px;

                        img {
                            height: 30px;
                            width: 30px;
                            border-radius: 5px;
                        }

                        .datausers {
                            margin-left: 10px;
                        }
                    }

                    .active {
                        padding: 5px;
                        width: fit-content;
                        border-radius: 5px;
                        color: white;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 8px;
                    }

                    .green {
                        background-image: linear-gradient(195deg, #66bb6a, #43a047);
                    }

                    .black {
                        background-image: linear-gradient(195deg, #42424a, #191919);
                    }

                    td:last-of-type {
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }
        }


        .Projects {
            @extend %cards;
            padding: 10px !important;
            text-transform: capitalize;

            h4 {
                font-size: 12px;
                background-image: linear-gradient(92deg, #49a3f1, #49a3f19c) !important;
                color: white;
                @extend %cards;
                position: relative;
                top: -30px;
                padding: 1rem 0.5rem;
            }

            .Datatable {
                // display: block;
                font-size: 11px !important;
                border-spacing: 0;

                td {
                    padding: 10px 0px;
                    width: 500px;
                    color: #344767;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid;
                        border-color: rgb(126 121 121 / 10%);
                    }
                }

                tbody {

                    td {
                        span {
                            font-size: 9px;
                            color: #7e7979;
                        }

                        .materials {
                            display: flex;
                            align-items: center;
                            font-size: 14px;

                            img {
                                height: 30px;
                                width: 30px;
                                border-radius: 5px;
                            }

                            .datausers {
                                margin-left: 10px;
                            }
                        }

                        //  هان ممكن  نستخدم  @extend من dashboard بس مش زابطة 
                        .line {
                            display: flex;
                            align-items: center;
                            position: relative;
                            background: #85818117;

                            span:first-of-type {
                                position: relative;
                                font-size: 9px;
                                @extend %line;
                            }

                            .bg-line {
                                span {
                                    left: -25px;
                                    top: -4px;
                                }
                            }
                        }

                        &:last-of-type {
                            cursor: progress;
                            text-align: center;
                        }
                    }
                }
            }
        }


    }
}