// $grid-breakpoints minimum widths
// less than 767px Small devices
$sd : 767px;
// Medium devices
$md : 768px;
// Large devices
$lg: 992px;
// X-Large devices
$xl: 1200px;
// XX-Large devices
$xxl: 1400px;


// layout variable `General`

$bor-rad8: 8px;
$bor-rad4: 4px;
$font-12px: 12px;
$font-10px: 10px;
// colors 

$border-color:#ccc;